<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chef</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  </head>
  <body>
    <style media="screen">
    .navbar-dark {
      background-color: #344581;
      padding: 30px;
    }

    .navbar-dark a{
      color: white;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      float: right;
      margin-right: 80px;
    }

    .navbar-dark a:hover{
      color: black;
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      float: right;
      margin-right: 80px;
    }
    body{
      background-color: #F2F4FA;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Montserrat;
      margin: 0 auto;
      padding: 0;
    }
    ul {
      list-style: none;
      margin-top: 40px;
    }
    h1{
      font-weight: 600;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color:#344581;
    }
    .profileImg img {
      border-radius: 8%;
      height: 200px;
    }
    .logo {
      height: 30px;
    }
    </style>

    <main>
      <nav class="navbar-dark">
      <img class ="logo" src="../images/logo.png">
      <a href="/">Home</a>
    </nav>

<br>

  <ul class="row">
      <% for(let i = 0; i < chef.length; i++) { %>
<li class="col-4 list">
        <h1>Chef <%=chef[i].name%></h1><br/>
      <div class="profileImg">
        <img src="<%=chef[i].profileImage%>"/>
      </div>

        <a href="/company/<%=chef[i].id%>">See profile</a>
    <%}%>
    </li>
  </ul>
  
</main>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
