<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a href="/">Home</a>

  <ul>
      <% for(let i = 0; i < chef.length; i++) { %>

    <h1>Chef <%=chef[i].name%> Profile</h1>
      <a href="/company/<%=chef[i].id%>">See my profile</a><br/>

    <%}%>
  </ul>

    <footer>
      © all rights reserved
    </footer>

  </body>
</html>
