<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>create new chef</h1>

      <form action="/chef" method="POST"><br/>

        <input type="text" name="profileImage"><br/>
        <input type="text" name="description" placeholder="description"><br/>
        <input type="text" name="starter" placeholder="starter"><br/>
        <input type="text" name="description" placeholder="Welcome Saying"><br/>
        <input type="text" name="starter" placeholder="Starter"><br/>
        <input type="text" name="main" placeholder="Main"><br/>
        <input type="text" name="dessert" placeholder="Dessert"><br/>
        <input type="text" name="drink" placeholder="Drinks"><br/>
        <button type="submit">submit</button>
      </form>

    <footer>
      © all rights reserved
    </footer>

  </body>
</html>
