<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Create Chef</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  </head>
  <body>
    <style media="screen">
      body{
        background-color: #F2F4FA;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Montserrat;
        margin: 0 auto;
        padding: 0;
      }
      h1{
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color:#344581;
      }
      .navbar-dark {
        background-color: #344581;
        padding: 30px;
      }

      .navbar-dark a{
        color: white;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        float: right;
        margin-right: 80px;
      }

      .navbar-dark a:hover{
        color: black;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        float: right;
        margin-right: 80px;
      }
      .btn {
        background-color: #344581;
        color: #F2F4FA;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 500px;
        padding: 10px;
        border-style: none;
      }
      .btn:hover {
        border: 3px solid #344581;
        background-color: #F2F4FA;
        color: #344581;
      }
      main {
        padding: 40px;
        text-align: center;
      }
      .logo {
        height: 30px;
      }
    </style>

    <nav class="navbar-dark">
      <img class ="logo" src="./image/logo.png">
      <a href="/">Home</a>
      <a href="/chef">Profiles</a><br/>
    </nav>

<main>


    <h1>create new chef</h1>


      <form action="/chef" method="POST"><br/><br/>

        <input type="text" name="profileImage" placeholder="Profile Image"><br/><br/>

        <input type="text" name="name" placeholder="name"><br/><br/>

        <input type="text" name="description" placeholder="Welcome Saying"><br/><br/>

        <input type="text" name="starter" placeholder="Starter"><br/><br/>

        <input type="text" name="main" placeholder="Main"><br/><br/>


        <input type="text" name="dessert" placeholder="Dessert"><br/><br/>

        <input type="text" name="drink" placeholder="Drinks"><br/>

        <br/><br/>

        <button type="submit" class="btn">submit</button>
      </form>
  </main>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  </body>
</html>
