<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>We cook, you have all the fun!</h1>
    <h3>dinners for every taste at your house</h3>

    <button>
      <a href="/newChef/login">if you’re a chef, come &
join our team!</a>
    </button>


      <a href="/chef">Company</a>
    </button>



  <footer>
    © all rights reserved
  </footer>

  </body>
</html>
