<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>working on the index of company</h1>


    <footer>
      © all rights reserved
    </footer>
  </body>
</html>
