<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Summary of order</h1>
      <a href="/">Back Home</a> <br/>
      <a href="/">Logout</a> </br> </br>

<%    for ( let i = 0; i < summarys.length; i++ ) { %>
  <%=    summarys[i].companyName  %> </br>
  <%  } %>



  </body>
</html>
